<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111884703674-qk1m1vknntbrtt260m19c3i4thr1djrv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111884703674-qk1m1vknntbrtt260m19c3i4thr1djrv</string>
	<key>API_KEY</key>
	<string>AIzaSyBNRkBXrvmtp03aOUsiSiW-Pwq-QOhPvik</string>
	<key>GCM_SENDER_ID</key>
	<string>111884703674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dinurasathsindu.flutterpractice.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mynotes-demo-app-14b28</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-demo-app-14b28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111884703674:ios:03e50a2fdb0253f95b2f83</string>
</dict>
</plist>